* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cartDiv {
  backdrop-filter: blur(7px);
  width: 80%;
  height: 600px;
  margin: 1% auto;
  display: flex;
  flex-direction: row;
}
#cartDiv:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#cart_main_head {
  background-color: rgb(128, 15, 15);
  text-align: center;
  color: white;
  padding: 5px;
  font-weight: 500;
  transition: 0.9s;
  z-index: 10;
}
#cart_head:hover {
  background-color: black;
}
#cart_sec_head {
  color: rgb(51, 45, 45);
  text-align: center;
  margin-top: 10px;
}
#service_div {
  width: 50%;
  margin: auto;
  font-size: 22px;
  background-color: rgb(175, 175, 175);
  padding: 10px 20px;
}
#service_div2 {
  text-align: center;
  color: white;
  background-color: rgb(163, 163, 163);
  width: 50%;
  margin: auto;
  font-size: 22px;
}
#cart_check_btn {
  width: 60%;
 margin: 30px 20%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid #c00a0a;
  color:#c00a0a;
  background-color: white;
  transition: 0.7s;
}
#cart_check_btn:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

#cart_right_div {
  width: 30%;
 background-color:white;
}

#cartList {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
.cartDiv {
  background-color: white;
  padding: 1%;
  height: 120px;
  transition: 0.7s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cartDiv img {
  height: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.cartDetailDiv {
  height: 80px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
  color: black;
}
.cartRating {
  border: 2px solid rgb(165, 165, 165);
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "Times New Roman", Times, serif;
}

.cartListLink {
  text-decoration: none;
  width: 300px;
  color: black;
  align-items: center;
}
.cart_remove_btn {
  margin-top: 10px;
  border: 1px solid rgb(212, 27, 27);
  background-color: white;
  color: rgb(212, 27, 27);
  padding: 2px 4px;
  border-radius: 10px;
  transition: 0.9s;
}
.cart_remove_btn:hover {
  background-color: rgb(212, 27, 27);
  color: white;
}
#promo_code{
    color: rgb(194, 194, 194);
    font-size: 12px;
}
#right_sec_div{
    width:80%;
    margin:1% auto;
    font-size:18px ;
    display: flex; flex-direction: column;
    gap: 10px;
}
#right_sec_div p {
    display: flex;
    justify-content: space-between;
}
#promo_div input{
    padding:5px;
    font-size:14px;
    outline: none;
    border-radius: 15px;
    margin-right: 20px;
}
#promo_btn {
    padding:5px; 
    border-radius: 15px;
    background-color: white;
}

