
#checkDiv{
    /* border: 1px solid black; */
    backdrop-filter: blur(7px);
    width: 40%;
    height: 500px;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.9s;
    background-color: white;
    
}
#checkDiv:hover{
    box-shadow: rgb(27, 22, 22) 0px 5px 15px;
}
#check_head{
    background-color: rgb(128, 15, 15);
    text-align: center;
    color: white;
    padding: 5px;
    font-weight: 500;
    transition: 0.9s;
    z-index: 10;
}
#check_head:hover{
    background-color: rgb(197, 16, 16);
}
#check_sec_head{
    color: rgb(204, 70, 70);
    text-align: center;
    margin-top:10px;
}


#check_btn{
    width: 40%;
    margin: 30px 30%;
     padding: 10px;
     outline: none;
     border: none;
     border-radius: 5px;
     font-size: 18px;
     border: 1px solid #c00a0a;
     color:#c00a0a;
     background-color: white;
     transition: 0.7s;
  }
  #check_btn:hover{
    transform: scale3d(1.05,1.05,1.05);
  }
 
  #check_bottom{
     padding: 5px 20px;
  }
  #customer_details{
      width:70%;
      margin: auto;
     display: flex;
      flex-direction: column;
      gap: 5px;
      padding:2%;
      background-color:rgb(255, 255, 255);
      color:black;
  }

  #customer_details input{
    outline:none;
  border:1px solid rgb(184, 79, 79);  
    padding: 10px;
    border-radius: 4px;
  } 